 <div class="flex flex-col lg:flex-row min-h-screen">
  <!-- Sidebar -->
  <sidebar class="pt-60 md:pt-20 lg:pt-0"></sidebar>

  <!-- Web Interface -->
  <web-interface class="w-full lg:w-1/6 bg-white border-r-2 border-gray-300 bg-gray-900 min-h-screen"></web-interface>

  <!-- Contenedor principal -->
  <div class="w-full lg:flex flex-col lg:w-5/6 bg-gray-100">
    <!-- Navbar -->
    <navbar class="bg-white fixed top-0 w-full lg:static lg:top-auto lg:w-auto"></navbar>

    <!-- Dashboard -->
    <main class="p-3 lg:flex-1 pt-16 lg:pt-6">
      <dashboard></dashboard>
    </main>
  </div>
</div>
