<div class="flex bg-gray-900 h-full">
  <!-- Sidebar -->
  <div
    [ngClass]="{
      'w-64': expanded,
      'w-16': !expanded,
      'lg:w-64': expanded,
      'lg:w-16': !expanded,
      'w-full': expanded && isMobile,
      'h-[350px]': contentVisible || !isMobile,
      'h-[40px]': !contentVisible && isMobile
    }"
    class=" md:w-full lg:h-screen  text-white flex flex-col transition-all duration-300">

    <!-- Botón para expandir en escritorio -->
    <button *ngIf="!isMobile" (click)="toggleSidebar()" class="mb-4 p-2 text-lg border-b-3 border-gray-600 py-8">
      <span *ngIf="expanded">☰</span>
      <span *ngIf="!expanded">☰</span>
    </button>

    <!-- Botón para mostrar/ocultar en móvil -->
    <button *ngIf="isMobile" (click)="toggleContent()" class=" p-2 rounded bg-gray-700 hover:bg-blue-500">
      <span>{{ contentVisible ? 'Ocultar Menú' : 'Mostrar Menú' }}</span>
    </button>

    <!-- Menú -->
    <ul *ngIf="contentVisible || !isMobile" class="flex flex-col gap-4">
      <li *ngFor="let item of menuItems" class="flex justify-center items-center px-5 gap-3 cursor-pointer hover:bg-blue-500 h-15">
        <div class="w-[35px] h-[35px]" [innerHTML]="getSanitizedIcon(item.icon)"></div>
        <span class="font-bold" *ngIf="expanded">{{ item.label }}</span>
      </li>
    </ul>
  </div>
</div>
